@"
# Java / NetBeans
build/
dist/
nbproject/private/
*.class

# Archivos temporales
*.tmp
*.bak
*.log
~$*.docx

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
"@ | Out-File -Encoding UTF8 .gitignore
librerias/mysql-connector-j-9.6.0.jar
